[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rmodule"]
	path = Rmodule
	url = https://github.com/cran/Rmodule
[submodule "batchmeans"]
	path = batchmeans
	url = https://github.com/cran/batchmeans
[submodule "copCAR"]
	path = copCAR
	url = https://github.com/cran/copCAR
[submodule "goweragreement"]
	path = goweragreement
	url = https://github.com/cran/goweragreement
[submodule "hash"]
	path = hash
	url = https://github.com/cran/hash
[submodule "krippendorffsalpha"]
	path = krippendorffsalpha
	url = https://github.com/cran/krippendorffsalpha
[submodule "ngspatial"]
	path = ngspatial
	url = https://github.com/cran/ngspatial
[submodule "pearson7"]
	path = pearson7
	url = https://github.com/cran/pearson7
[submodule "sklarsomega"]
	path = sklarsomega
	url = https://github.com/cran/sklarsomega
